<!doctype html>
<html>
    <head>
        <title>Videobar</title>
        
        <!--style>
        
    
        
          body {
            padding:5%;
            min-width: 600px;
            
          }
    
          img {
            margin: 5px;
            border: 2px solid black;
            vertical-align: middle;
            width: 75px;
            height: 75px;
          }
          
        </style-->
        <link rel="stylesheet" href="css/container.css">
        <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="css/custom.css">
        <script src="oauth2/oauth2.js"></script>
        <script src="youtubeapi/youtube.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/copy.js"></script>
        <script src="js/annotationsServices.js"></script>
        <script src="js/YoutubeServices.js"></script>
        <script src="js/BackgroundServices.js"></script>
        <script src="js/DataServices.js"></script>
        <script src="js/MongoServices.js"></script>
        
        <!--script src="bootstrap/js/ui-bootstrap.min.js"></script-->
        <script src="bootstrap/js/ui-bootstrap-tpls-0.6.0.min.js"></script>
        <script src = "js/angular-sanitize.min.js"></script>
        
        <style>
            body{
                font-size:74%;
                min-width:600px;
                font-family:'Open Sans','Calibri','sans-serif';
            }
        </style>
    </head>
    
    <body ng-app = "copyYAnnotations" ng-csp = "">
        <header class="navbar" ng-controller="headCtrl">
    		<nav class="navbar-inner" style="height:32px;" >
        			<a class="brand" href=""><img src ="images/19-g.png"/>&nbsp;videobar.tm 1.2</a>
        			<!-- <button class="btn btn-primary btn-mini"  style="margin-left: -13px!important;margin-top:8px;">Videobars!</button> -->
        			<div style="margin-top:7px;" class="btn-group btn-mini" ng-show = "hasAccessToken" tooltip-placement="right" tooltip ="{{completedData.finished.length}} success" >
        			    <a hre="#" class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
        			        <span class="text-success">{{completedData.finished.length}}</span>&nbsp;<span class="icon-ok"></span>
        			    </a>
        			     <ul class="dropdown-menu"> 
        			         <li ng-repeat="item in completedData.finished"><a href ="#" ng-click="openAnnotEditor();">{{item.name}}</a></li>
        			     </ul>
        			</div>
        			
        			<div style="margin-top:7px;margin-left:-10px!important;" class="btn-group btn-mini" ng-show = "hasAccessToken" tooltip-placement="right" tooltip ="{{completedData.unfinished.length}} error" >
                        <a hre="#" class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                            <span class="text-error">{{completedData.unfinished.length}}</span>&nbsp;<span class="icon-remove"></span>
                        </a>
                         <ul class="dropdown-menu"> 
                             <li ng-repeat="item in completedData.unfinished"><a href ="#">{{item.name}}</a></li>
                         </ul>
                    </div>
        			
        			<div class="btn-group btn-mini pull-right" style="margin-right: -13px!important;margin-top:8px;">
        			    <!--button class="btn btn-small btn-danger">{{userInfo.email}}</button-->
        			    <button class="btn btn-mini btn-danger" ng-show="!hasAccessToken" ng-click = "auth();">{{sessionBind}}</button>
                        <a hre="#" class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                            {{userInfo.displayName}}&nbsp;<span class="caret"></span><!--span class="caret"></span-->
                        </a>
                         <ul class="dropdown-menu"> 
                             <li><a href="#" ng-click = "openExternalLinks('http://www.any.tv');">any.TV Website</a></li>
                             <li><a href="#" ng-click = "openExternalLinks('http://www.youtube.com/anytvnetwork');">any.TV Network</a></li>
                             <!-- <li><a href="settings.html" target="_blank">Settings</a></li> -->
                             <li><a href="#" ng-click = "openExternalLinks('options.html');">Create videobar!</a></li>
                             <li id="sendAnnotation" ng-click = "auth();"><a href="#">{{sessionBind}}</a></li>
                         </ul>
                    </div>
        			
    		</nav>
            <center><alert style = "position:inherit;height:2px;line-height:0.5px" ng-repeat="alert in alerts" type="alert.type" style ="width:320px;"><div ng-bind-html = "alert.msg"></div></alert></center>
        </header>
        <section>
            <article id ="resultVideos-container" ng-controller="homeCtrl" ng-show = "hasAccessToken" style="margin-top:-15px;" ng-init="multiSelect=false">
                &nbsp;<input type="search" ng-show="hasAccessToken" style="height:19px!important;margin-top:4.5px!important;width:320px;" class="input-mini" size = '320px' ng-model="search.snippet.title" placeholder="Search videos">
                <div class="input-group-btn btn-group"><button class="btn btn-default" style="margin-top:-6px;"><span class="icon-search"></span></button></div>
                <button class="btn btn-primary btn-small pull-right" style="margin-top:5px;" ng-click="openExternalLinks('options.html');">Create videobar!</button>
                <!--button ng-click="clearCollection()">Clear</button-->
                <accordion close-others="true" >
                    <!--accordion-group>
                         <accordion-heading>
                            <center><button class="btn btn-inverse btn-small btn-block" type="button">Mirror annotations from a template <span class="label label-important" >{{vidLabel}} </span> </button></center>
                         </accordion-heading>
                        
                        <tabset>
                            <tab heading="Videobar">
                                <carousel interval="10000" >
                                    <slide ng-repeat="template in templates" active="template.active">
                                        <div class="paddingThis highlight" style="border-radius: 4px 4px 4px 4px;margin-bottom:5px;">
                                            <center>
                                                <img ng-src="{{template.image}}" style="height:120px;"class="thumbnail shadowHighlight"/>
                                                <div class="whiteText"><h4>{{template.name}}</h4><p>{{template.text}}</p></div>
                                            </center>
                                        </div>
                                        <center>
                                             <button id="sendAnnotation" ng-click = "saveAnnotations('save',template);" class="btn btn-success btn-small">Save Annotations</button>
                                            <button id="sendAnnotation" ng-click = "saveAnnotations('delete',template);" class="btn btn-danger btn-small" tooltip-placement="right" tooltip="Clear copied annotations">Clear Annotations</button>
                                        </center>
                                    </slide>
                                </carousel>
                                <hr/>
                                <div ng-include = "'views/videoList.html'" ></div>
                            </tab>
                            <tab heading="Branding">
                                branding templates
                            </tab>
                            <tab heading ="Menus">
                                Menus templates
                            </tab>
                        </tabset>

                    </accordion-group-->
                    <accordion-group is-open="true">
                        <accordion-heading>
                            <center><button class="btn btn-inverse btn-small btn-block">Copy annotations from <span tooltip-placement ="bottom" tooltip="{{pageTitle}}">{{pageTitleShort}}</span> <span class="label label-important" >{{vidLabel}} </span> </button></center>
                         </accordion-heading>
                            <div ng-include = "'views/videoList.html'" ></div>
                        </br>
                            </hr>
                            <center>
                            <b>Annotations:</b>&nbsp;
                                <button id="sendAnnotation" ng-disabled = "selected.thereIs" ng-click = "saveAnnotations('save');" class="btn btn-success btn-small">Save</button>
                                <button id="sendAnnotation" ng-disabled = "selected.thereIs" ng-click = "openAnnotEditor();" class="btn btn-small" tooltip-placement="top" tooltip="Edit on youtube">Edit</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button id="sendAnnotation" ng-disabled = "selected.thereIs" ng-click = "saveAnnotations('publish');" class="btn btn-primary btn-small" tooltip-placement="top" tooltip="Save and publish copied annotations">Publish</button>
                                <button id="sendAnnotation" ng-disabled = "selected.thereIs" ng-click = "saveAnnotations('delete');" class="btn btn-danger btn-small" tooltip-placement="top" tooltip="Clear copied annotations">Clear</button>
                            </center>
                    </accordion-group>
                </accordion>
            </article>
        </section>
		<footer>
		    <section><center><a href="#">Home</a> &nbsp; <a href="http://www.facebook.com/anyTVnetwork‎" target="_blank">Facebook</a> &nbsp; <a href="http://twitter.com/anyTVnetwork" target="_blank">Twitter</a> &nbsp; <a href="http://plus.google.com/109971475987405213729/videos" target="_blank">Google+</a> &nbsp; <a href="http://www.youtube.com/user/anyTVnetwork" target="_blank">YouTube</a><br>
            <a href="http://www.any.tv">any.TV Limited</a> &copy; 2013 | Believe in You!
         </center></section>
	    </footer>
    	
    </body>
</html>

