<!doctype html>
<html>
  <head>
    <title>Videobar on YouTube</title>
    
        <link rel="stylesheet" href="css/container.css">
        <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="css/custom.css">
        <script src="js/angular.min.js"></script>
        <script src="oauth2/oauth2.js"></script>
        <script src="youtubeapi/youtube.js"></script>
        
        <script src="js/app.js"></script>
        <script src="js/copy.js"></script>
        <script src = "js/templating.js"></script>
        <script src="js/annotationsServices.js"></script>
        <script src="js/YoutubeServices.js"></script>
        <script src="js/BackgroundServices.js"></script>
        <script src="js/DataServices.js"></script>
        <script src="js/MongoServices.js"></script>

        <!--script src="bootstrap/js/ui-bootstrap.min.js"></script-->
        <script src="bootstrap/js/ui-bootstrap-tpls-0.6.0.min.js"></script>
        <script src = "js/angular-sanitize.min.js"></script>
        
        
         <style>
            body{
                font-size:74%;
                min-width:600px;
                font-family:'Open Sans','Calibri','sans-serif';
            }
        </style>
  </head>
    <body>
        <div ng-app = "copyYAnnotations" ng-csp = "">
            
        <header class="navbar navbar-fixed-top" ng-controller="headCtrl">
            <nav class="navbar-inner" style="height:32px;" >
                    <a style="margin-left:10px;" class="brand" href=""><img src="images/19-g.png"/> Videobar on YouTube</a>
                    <!-- <button ng-click="testMongo();">savetest</button> -->
                    <input type="search" ng-show="hasAccessToken" style="height:19px!important;margin-top:4.5px!important;width:220px;" class="input-mini" size = '320px' ng-model="search.snippet.title" placeholder="Search">
                    
                    <div style="margin-top:-6px;" class="btn-group btn-mini" ng-show = "hasAccessToken" tooltip-placement="right" tooltip ="{{completedData.finished.length}} success" >
                        <a hre="#" class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                            <span class="text-success">{{completedData.finished.length}}</span>&nbsp;<span class="icon-ok"></span>
                        </a>
                         <ul class="dropdown-menu"> 
                             <li ng-repeat="item in completedData.finished"><a href ="#" ng-click="openAnnotEditor();">{{item.name}}</a></li>
                         </ul>
                    </div>
                    
                    <div style="margin-top:-6px;margin-left:-10px!important;" class="btn-group btn-mini" ng-show = "hasAccessToken" tooltip-placement="right" tooltip ="{{completedData.unfinished.length}} error" >
                        <a hre="#" class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                            <span class="text-error">{{completedData.unfinished.length}}</span>&nbsp;<span class="icon-remove"></span>
                        </a>
                         <ul class="dropdown-menu"> 
                             <li ng-repeat="item in completedData.unfinished"><a href ="#">{{item.name}}</a></li>
                         </ul>
                    </div>
                    
                    <div class="btn-group btn-mini pull-right" style="margin-top:8px;margin-right: 15px;">
                        <!--button class="btn btn-small btn-danger">{{userInfo.email}}</button-->
                        <button class="btn btn-mini btn-danger" ng-show="!hasAccessToken" ng-click = "auth();">{{sessionBind}}</button>
                        <a hre="#" class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                            {{userInfo.displayName}}&nbsp;<span class="caret"></span><!--span class="caret"></span-->
                        </a>
                         <ul class="dropdown-menu"> 
                             <li><a href="#" ng-click = "openExternalLinks('http://www.any.tv');">any.TV Website</a></li>
                             <li><a href="#" ng-click = "openExternalLinks('http://www.youtube.com/anytvnetwork');">any.TV Network</a></li>
                             <!-- <li><a href="settings.html" target="_blank">Settings</a></li> -->
                             <li id="sendAnnotation" ng-click = "auth();"><a href="#">{{sessionBind}}</a></li>
                         </ul>
                    </div>
            </nav>
            <center><alert style = "position:inherit;line-height:7.5px" ng-repeat="alert in alerts_global" type="alert.type" style ="width:320px;"><div ng-bind-html = "alert.msg"></div></alert></center>
        </header>
            <br/><br/><br/><br/>
        <section ng-controller="homeCtrl" ng-init="multi_select=true">
            <!--  <pre>
                {{dbLog}}
            </pre> -->
            <article id ="resultVideos-container" ng-show = "hasAccessToken" style="margin-top:-10px;margin-right:26px;width:70%;margin:0 auto;">
                <!--button ng-click="clearCollection()">Clear</button-->
                    <div ng-include = "'views/videoList.html'" ></div>
            </article>
            <hr/>
            <article ng-controller="templateController" id ="resultVideos-container" ng-show = "hasAccessToken" style="margin-top:-10px;width:70%;margin:0 auto;">
                            <!--center><button class="btn btn-inverse btn-small btn-block" type="button">Copy <span class="label label-important" >{{vidLabel}} </span> </button></center-->
                            
                            <carousel>
                                <slide ng-repeat="template in templates" active="template.active">
                                    <!-- <div class="paddingThis highlight" style="border-radius: 4px 4px 4px 4px;margin-bottom:5px;">
                                            <center>
                                                <img ng-src="{{template.image}}" style="height:250px;"class="thumbnail shadowHighlight"/>
                                                <div class="whiteText"><h4>{{template.name}}</h4><div ng-bind-html = "template.description"></div></div>
                                            </center>
                                        </div> -->
                                    <center>
                                        <button ng-disabled = "selected.thereIs" ng-init="templates.isCollapsed='false'"  ng-click="toggle(templates,template,$index);" class="btn btn-primary btn-small">Program this Videobar</button><br/><br/>
                                        

                                   </center>
                                   </br>
                                    <div collapse= "templates.isCollapsed">
                                        <div>
                                            <accordion close-others="true">

                                                    <accordion-group ng-repeat="video in selected"  is-open = "!multiMode">
                                                              
                                                        <accordion-heading>
                                                            <center><button class="btn btn-inverse btn-small btn-block" ng-show="multiMode">{{video.name}}</button></center>
                                                        </accordion-heading>  
                                                                <center>
                                                                    <div ng-switch on = "$index">
                                                                        <div ng-switch-when= "0">
                                                                            <b>Font Color:</b>&nbsp;
                                                                            <div class="btn-group">
                                                                                <button type="button" class="btn btn-primary btn-mini" ng-model="video.buttons.fontColor" btn-radio="'White'">White</button>
                                                                                <button type="button" class="btn btn-primary btn-mini" ng-model="video.buttons.fontColor" btn-radio="'Black'">Black</button>
                                                                            </div>
                                                                        </div>
                                                                        <div ng-switch-default>
                                                                                <b>Font Color:</b>&nbsp;
                                                                                <div class="btn-group">
                                                                                    <button type="button" class="btn btn-primary btn-mini" ng-model="video.buttons.fontColor" btn-radio="'White'">White</button>
                                                                                    <button type="button" class="btn btn-primary btn-mini" ng-model="video.buttons.fontColor" btn-radio="'Black'">Black</button>
                                                                                </div>
                                                                                <button type="button" ng-click = "copyButtons(video);" class="btn btn-small btn-danger">
                                                                                    Copy settings of first
                                                                                </button>
                                                                                <button type ="button" ng-click = "rearrangeOrder($index);" class="btn btn-small btn-danger">
                                                                                    Make this first.
                                                                                </button>
                                                                        </div>
                                                                    </div>
                                                                </center>
                                                                <br/>

                                                        <accordion close-others="true" >

                                                            <accordion-group heading = "{{button.name}}" ng-repeat="button in video.buttons">
                                                            
                                                            <div ng-switch on = "button.instances[0].id">
                                                                <div ng-switch-when="videobar_channel">
                                                                    <h4>{{button.name}}</h4>
                                                                    <label><input type='checkbox' ng-model = "button.hide"/> Hide this</label>
                                                                </div>
                                                                <div ng-switch-default>
                                                                    <h4>{{button.name}}</h4>
                                                                </div>
                                                            </div>
                                                            <div class="well">
                                                             <h4>{{button.name}}</h4>
                                                             <!-- <form name="newOptionForm" required> -->
                                                             <table class="table table-bordered">
                                                                <tr>
                                                                    <th></th>
                                                                    <th>Text</th>
                                                                    <th  ng-show = "button.allowEditDuration">Start</th>
                                                                    <th  ng-show = "button.allowEditDuration">Stop</th>
                                                                    <th>Action</th>
                                                                </tr>
                                                                <tr ng-repeat="instance in button.instances">
                                                                    <td style="width:10px">
                                                                        <div class="paddingXButton" ng-click="deleteItem($index,button);" ng-show="instance.editable"><span class="icon-remove"></span></div>
                                                                    </td>
                                                                    <td><input type ="text" ng-model="instance.text" required style="width:300px;" /></td>
                                                                    <td ng-show = "button.allowEditDuration"><input type ="text" ng-model ="instance.duration.start" required class="timeClass"/></td>
                                                                    <td  ng-show = "button.allowEditDuration"><input type ="text" ng-model ="instance.duration.stop" required class="timeClass" /></td>
                                                                    <td>
                                                                        <div ng-switch on ="button.actiontype">
                                                                            <div ng-switch-when="url">Insert URL : <input type ="url" required ng-model ="instance.action.url"/></div>
                                                                            <div ng-switch-when="time">Skip to : <input type ="text" required ng-model ="instance.action.time" class="timeClass"/></div>
                                                                        </div>
                                                                        
                                                                    </td>
                                                                </tr>
                                                                <tr ng-show="button.addable">
                                                                    <td>
                                                                        <div ng-switch on ="templateOptions.addMode"  ng-init="templateOptions.addMode = 'false'">
                                                                            <div ng-switch-when="true">
                                                                                <div class="btn-group">
                                                                                    <button class="btn btn-success" ng-disabled="newOptionForm.$error.required" ng-click="saveItem(video,$index,button);templateOptions.addMode = !templateOptions.addMode"><span class="icon-check"></span></button>
                                                                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                                                                        <span class="caret"></span>
                                                                                    </button>
                                                                                    <ul class="dropdown-menu">
                                                                                        <li><a href= "" ng-click = "templateOptions.addMode = !templateOptions.addMode"><span class="icon-remove icon-white"></span> Cancel</a></li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                            <div ng-switch-when="false">
                                                                                <button class="btn btn-primary" ng-click="templateOptions.addMode = !templateOptions.addMode;"><span class="icon-plus icon-white"></span></button>
                                                                            </div>
                                                                        </div>
                                                                        
                                                                    </td>
                                                                        
                                                                    <td><input name="newText" type ="text" ng-model="video.newText" required ng-show="templateOptions.addMode" style="width:300px;" /></td>
                                                                    <td ng-show = "button.allowEditDuration">
                                                                        <!-- <time-input name="newStart" ng-model="templates.newStart" showthis="templateOptions.addMode" ></time-input> -->
                                                                        <input type ="text" ng-show = "templateOptions.addMode" ng-model ="video.newStart" class="timeClass" />
                                                                    </td>
                                                                    <td  ng-show = "button.allowEditDuration">
                                                                        <!-- <time-input name="newStop" ng-model="templates.newStop" showthis="templateOptions.addMode" ></time-input> -->
                                                                        <input type ="text" ng-show = "templateOptions.addMode" ng-model ="video.newStop" class="timeClass" />
                                                                    </td>
                                                                    <td>
                                                                        <div ng-switch on ="button.actiontype">
                                                                            <div ng-switch-when="url" ng-show="templateOptions.addMode">Insert URL : <input name="newAction" type ="url" ng-model="video.newAction.url" required /></div>
                                                                            <div ng-switch-when="time" ng-show = "templateOptions.addMode" >Skip to : <input type ="text" ng-model ="video.newAction.time" class="timeClass" /></div>
                                                                        </div>
                                                                    </td>
                                                                    
                                                                </tr>
                                                            </table>
                                                            <!-- </form> -->
                                                        </div>
                                                        </accordion-group>
                                                    </accordion>
                                                </accordion-group>
                                            </accordion>



                                        </div>
                                           
                                                
                                             <center>
                                                <!-- <button id="sendAnnotation" ng-click = "saveAnnotations('save',template);" class="btn btn-success btn-small">Save Annotations</button>
                                                <!--button id="sendAnnotation" ng-click = "saveAnnotations('publish');" class="btn btn-success btn-small" tooltip-placement="bottom" tooltip="It doesn't copy anything. It will only make your annotations public">Publish</button-->
                                                <!--button id="sendAnnotation" ng-click = "saveAnnotations('delete',template);" class="btn btn-danger btn-small" tooltip-placement="right" tooltip="Clear copied annotations">Clear Annotations</button> -->
                                            </center>
                                            <center>
                                                <alert ng-repeat="alert in alerts" type="alert.type" style ="width:320px;" close = "closeAlert($index);"><div ng-bind-html = "alert.msg"></div></alert>
                                            <b>Annotations:</b>&nbsp;
                                                <button id="sendAnnotation" ng-disabled = "selected.thereIs" ng-click = "saveAnnotations('publish',template);" class="btn btn-success btn-small" tooltip-placement="top" tooltip="Save and publish your annotations">Save</button>
                                                <!-- <button id="sendAnnotation" ng-disabled = "selected.thereIs" ng-click = "saveAnnotations('save',template);" class="btn btn-success btn-small">Save</button> -->
                                                <button id="sendAnnotation" ng-disabled = "selected.thereIs" ng-click = "openAnnotEditor();" class="btn btn-primary btn-small" tooltip-placement="top" tooltip="Edit on youtube">Edit</button>
                                                <button id="sendAnnotation" ng-disabled = "selected.thereIs" ng-click = "openYoutubeVideo();" class="btn btn-small" tooltip-placement="top" tooltip="Watch on youtube">View</button>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                
                                                <button id="sendAnnotation" ng-disabled = "selected.thereIs" ng-click = "saveAnnotations('delete',template);" class="btn btn-danger btn-small" tooltip-placement="top" tooltip="Clear videobar annotations">Clear</button>
                                                
                                                <button id="sendAnnotation" ng-disabled = "selected.thereIs" ng-click = "saveAnnotations('deleteall');" class="btn btn-inverse btn-small" tooltip-placement="top" tooltip="Clear all published annotations">Clear all</button>

                                            </center>
                                        </div>
                                    </div>
                                    
                                </slide>
                            </carousel>



            </article>
        </section>
        <footer style="clear:both;">
            <section><center><a href="#">Home</a> &nbsp; <a href="https://www.facebook.com/anyTVnetwork" target="_blank">Facebook</a> &nbsp; <a href="http://twitter.com/anyTVnetwork" target="_blank">Twitter</a> &nbsp; <a href="http://plus.google.com/109971475987405213729/videos" target="_blank">Google+</a> &nbsp; <a href="http://www.youtube.com/user/anyTVnetwork" target="_blank">YouTube</a><br>
            <a href="http://www.any.tv">any.TV Limited</a> &copy; 2013 | Believe in You.
         </center></section>
        </footer>
        <br/>
        </div>
    </body>
</html>

