<div style="margin-bottom:9px;">
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Filter by: {{filter.name}}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li ng-repeat ="f in filters" >
                <a href="#" ng-click="applyFilter(f);">{{f.name}}</a>
            </li>
        </ul>
    </div>
</div>
    <div id = "post-list" when-scrolled="load_videos();" class ="table-bordered">
        <ul  id="ul-list" class="thumbnails">
            <li  class="span4" id = "post-box" ng-repeat="video in filteredVideo = (videos | filter:search.snippet.title | filter:filter.mode | orderBy:video.snippet.publishedAt )">
                <div id="post-selected_{{video.toggle}}" class="thumbnail" ng-click ="toggleVideo(video.snippet.resourceId.videoId);" tooltip-placement="bottom"  tooltip="{{video.snippet.title}} : {{video.duration}}">
                    <center><a id = 'ylink' href =""><img id = "img-video" ng-src ="{{video.snippet.thumbnails.medium.url}}"/></a></center>
                    <center>
                            <a id = 'ylink' target='_blank' href = ''><div class="vid-title-container">{{video.snippet.title | limitTo:3}}</div></a>
                            <span class="badge" ng-show="video.mode" ng-class="{'badge-important':video.mode=='delete','badge-success':video.mode=='publish','badge-info':video.mode=='save','badge-inverse':video.mode =='deleteall'}">
                                <div ng-switch on = "video.mode">
                                    <div ng-switch-when= "publish">Active Videobar</div>
                                    <div ng-switch-when= "save">Saved Videobar</div>
                                    <div ng-switch-when= "delete">Deleted Videobar</div>
                                    <div ng-switch-when= "deleteall">All annotations deleted</div>
                                    <div ng-switch-when = "none">No Videobar</div>
                                    <div ng-switch-when="loading..."><img src="images/loading-bar.gif" width="20px"/></div>
                                    <div ng-switch-when="error">Can't check in database</div>
                                </div>
                            </span>
                    </center><br/>
                </div>  
            </li>
        </ul>
        <center><br/>
                <img src="images/loading-bar.gif" width="40px" ng-hide = "viewControl"/>
            <!-- <div id="progress" class="progress progress-striped active" style ="width:400px;" ng-hide = "viewControl">
          <div class="bar" style="width: 100%;"></div>
        </div> -->
        </center>
    </div>
    <center>
        <table cellspacing='0' cellpadding='0' >
            <!--tr>
                <td colspan="3"><center><span class="badge badge-info"><small>Selected Items : {{selected.length}}</small></span></center></td>
            </tr-->
            <tr>
                </br>
                <td colspan="3" style="text-align:right"><center><span class="badge"><small>No. of items : {{filteredVideo.length}}/{{videos.length}}</small></span></center></td>
            </tr>
        </table>
    </center>